@media screen and (max-width:1700px){
    .titulo__banner{
        font-size: 45px;
    }

    .texto__banner{
        font-size: 20px;
    }

    .acceso__alumnos{
        width: 200px;
    }

    .botones{
        width: 30%;
        font-size: 18px;
    }

}

@media screen and (max-width:1500px){
    .parrafo__excusa{
        font-size: 12px !important;
    }

    .excusa{
        width: 50%;
    }

    #menu a, .enlace__menu{
        margin-right: 30px;
    }

    .banner{
        background-position-y:-250px;
    }

    .botones{
        margin: 0 auto;
    }

}


@media screen and (max-width:1300px){

    .titulo__banner{
        font-size: 30px;
    }

    .texto__banner{
        font-size: 17px;
    }
    .lista__testimonios{
        width: 85%;
    }

    .testimonios::after{
        height: 30em;
    }

    .enlace__menu{
        margin-right: 8px;
    }

    .enlace__menu:first-child{
        margin-left: 25px;
        transform: translateY();
    }

    .tablas__resumen{
        height: auto !important;
        padding-bottom: 30px !important;
    }
    .parte__tablas{
        height: auto;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 20% 20% 20%;
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
    }
    .titulo_tabla{
        grid-row: 1 / 2;
        grid-column: 0 / 1;
        text-align: center;
        font-size: 30px;
        text-align: center;
    }
    
    .titulo_tabla h2{
        margin: 20px 0px;
        text-transform: uppercase;
        padding: 0 !important;
        margin: 20px;
    }
    .titulo__motivacion{
        margin-top: 20px;
    }
    
    .motivacion{
        color: #E09A6E;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
    }
    
    .parte__tablas img{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin: 0 auto;
        
    }
    
    .calorias{
        color: #B98EA5;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
    .comida{
        color: #3EAA9E;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
    .titulo__motivacion{
        text-align: right;
    }

    .excusas{
        height: auto;
    }

    .todas__excusas{
        height: auto;
    }

    .quemar__calorias{
        text-align: right;
    }
    .tablas__resumen h4{
        font-size: 16px;
    }

}

@media screen and (max-width:1000px){
    #menu{
        display: none;
    }

    .acceso__alumnos .fas{
        display: block !important;

    }

    .hamburger{
        display: block !important;
    }

    .acceso__alumnos{
        width: 100%;
        background-color: var(--color-principal);
    }

    .menuppal1 ul{
        display: flex;
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
    }

    .enlace__menu{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .lista__testimonios{
        width: 90%;
    }

    .testimonios::after{
        height: 27em;
    }

    .banner{
        background-image: url(../medios/banner.jpeg);
        background-position: center;
    }

}

@media screen and (max-width:900px){

   .titulo__banner{
       font-size: 35px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       text-align: center;
       padding: 20px;
   }
   .texto__banner{
       font-size: 21px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       text-align: center;
       padding: 20px;
       margin-top: 5px;
       text-align: center;
   }

   .hamburger{
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto;
       margin: 0;
       padding: 0;
       position: relative;
       right: 0;
       top: -0.5em;
   }

   .enlace__menu{
       font-size: 17px;
   } 

   .wrapper{
       width: 90%;
   }

   .cabecera{
       height: 70px;
   }

   .banner{
       height: calc(100vh - 70px);
   }

   .logo{
       width: 100px;
       display: flex;
       align-items: center;
       margin: 0 !important;
       margin-top: -30px !important;
   }

   .testimonio{
       width: 23%
   }

   .testimonios{
       height: auto;
   }

   .testimonio figure:last-child{
       margin-bottom: 50px;
   }

   .parrafo__excusas{
       font-size: 12px;
   }

   .excusa{
       transform: scale(1.2);
   }

   .botones{
       width: 60%;
       font-size: 16px;
   }

}

@media screen and (max-width:700px){
    .testimonio{
        width: 30%;
    }

    .testimonios::after{
        display: block;
        bottom: unset;
        height: 10em;
    }

    .lista__testimonios{
        display: none;
    }

    .carousel{
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:650px){
    .testimonio{
        width: 70%;
    }

    .ocultar__testimonio{
        display: none;
    }

    .media__pantalla__img{
        width: 95%;
    }

    .media__pantalla{
        max-height: 600px;
    }

    .testimonios__titulo, .media__pantalla__titulo{
        font-size: 25px !important;
        padding: 20px;
    }

    .parrafo__testimonios{
        font-size: 22px;
    }

    .botones{
        width: 80%;
    }
    
}

@media screen and (max-width:400px){

    .titulo__banner{
        font-size: 22px;
    }

    .texto__banner{
        font-size: 20px;
    }

    .testimonios__titulo, .media__pantalla__titulo{
        font-size: 25px !important;
    }

    .parrafo__testimonios{
        font-size: 22px;
    }
}